@{
    ViewBag.Title = "文章表》明细页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/CommonModule/Article/SetForm", { KeyValue: GetQuery('KeyValue') }, function (data) {
                SetWebControls(data);
            });
        }
    }
</script>
<form id="form1" style="margin: 1px">
    <table class="form">
        <tr>
            <th class='formTitle'>自增ID：</th>
            <td class='formValue'>
                <label id="ArticleId" />
            </td>
            <th class='formTitle'>类别标签：</th>
            <td class='formValue'>
                <label id="CategoryTags" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>关键字标签：</th>
            <td class='formValue'>
                <label id="KeywordTags" />
            </td>
            <th class='formTitle'>标题：</th>
            <td class='formValue'>
                <label id="Title" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>作者：</th>
            <td class='formValue'>
                <label id="Author" />
            </td>
            <th class='formTitle'>详细内容：</th>
            <td class='formValue'>
                <label id="Content" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>封面图：</th>
            <td class='formValue'>
                <label id="ImgUrl" />
            </td>
            <th class='formTitle'>星级：</th>
            <td class='formValue'>
                <label id="Star" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>1-正常,0-待审核,-1-已删除：</th>
            <td class='formValue'>
                <label id="Status" />
            </td>
            <th class='formTitle'>排序：</th>
            <td class='formValue'>
                <label id="Sort" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>添加时间：</th>
            <td class='formValue'>
                <label id="CreateDate" />
            </td>
            <th class='formTitle'>创建人ID：</th>
            <td class='formValue'>
                <label id="CreateUserId" />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>创建人名称：</th>
            <td class='formValue'>
                <label id="CreateUserName" />
            </td>
            <th class='formTitle'>评语：</th>
            <td class='formValue'>
                <label id="Comment" />
            </td>
        </tr>
        <tr></tr>
    </table>
</form>

